DEV_POSTGRES_DB=minddeck
DEV_POSTGRES_USER=postgres
DEV_POSTGRES_PASSWORD=postgres
DEV_APP_NAME=MindDeck API
DEV_SERVER=development
DEV_BACKEND_PORT=5000
DEV_API_VERSION=v1
DEV_SECRET=replace-with-a-long-random-secret
DEV_CORS_ORIGIN=http://localhost:3000
DEV_RATE_LIMIT_WINDOW_MS=900000
DEV_RATE_LIMIT_MAX=100
DEV_DB_DATABASE=minddeck
DEV_DB_USERNAME=postgres
DEV_DB_PASSWORD=postgres
DEV_DB_PORT=5432
DEV_DB_DIALECT=postgres
DEV_DB_TIMEZONE=UTC
DEV_DB_LOG=false
DEV_DB_POOL_MIN=0
DEV_DB_POOL_MAX=5
DEV_REACT_APP_API_URL=http://localhost:5000

STAGE_POSTGRES_DB=minddeck_stage
STAGE_POSTGRES_USER=postgres
STAGE_POSTGRES_PASSWORD=postgres
STAGE_APP_NAME=MindDeck API
STAGE_SERVER=staging
STAGE_BACKEND_PORT=5000
STAGE_API_VERSION=v1
STAGE_SECRET=replace-with-a-long-random-secret
STAGE_CORS_ORIGIN=http://localhost:8080
STAGE_RATE_LIMIT_WINDOW_MS=900000
STAGE_RATE_LIMIT_MAX=100
STAGE_DB_DATABASE=minddeck_stage
STAGE_DB_USERNAME=postgres
STAGE_DB_PASSWORD=postgres
STAGE_DB_PORT=5432
STAGE_DB_DIALECT=postgres
STAGE_DB_TIMEZONE=UTC
STAGE_DB_LOG=false
STAGE_DB_POOL_MIN=0
STAGE_DB_POOL_MAX=5
STAGE_REACT_APP_API_URL=http://localhost:5002
